body {
  background: #ffffff url("img/bg-page.png") no-repeat top center;
}

.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

p {
  margin: 0px;
}

h3 {
  margin: 0px;
}

.avatar-container {
  text-align: center;
}
.avatar {
  border-radius: 40%;
}

.resume-container {
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgba(33, 116, 131, 0.7);
  border: 5px solid #4d74bb;
  font-family: "Verdana", sans-serif;
  text-align: center;
  color: #ffffff;
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}